In [ ]:
word = input("Введите слово: ")
length = len(word)
if length % 2 == 0:
  mid_idx = length // 2
  print(f"Количество букв в этом слове четное. Средние буквы в слове {word}: {word[mid_idx -1]}{word[mid_idx]} ")
else:
  mid_idx = length // 2
  print(f"Количество букв в этом слове нечетное. Средняя буква в слове {word}:{word[mid_idx]}")

Введите слово: teste
Количество букв в этом слове нечетное. Средняя буква в слове teste:s

In [ ]:
result = 0
while True:
  num = int(input('Введите число: '))
  if num == 0:
    break;
  result += num
print("Сумма всех введенных чисел равна", result)

Введите число: 454
Введите число: 455
Введите число: 778
Введите число: 0
Сумма всех введенных чисел равна 1687

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
  print('Внимание, кто-то может остаться без пары!')
else:
  boys_sort_by_alphabet = sorted(boys)
  girls_sort_by_alphabet = sorted(girls)
  print('Идеальные пары:')
  for boy, girl in zip(boys_sort_by_alphabet, girls_sort_by_alphabet):
    print(f'{boy} и {girl}')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [ ]:
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print("Средняя температура в странах:")
for country, temperatures in countries_temperature:
    # переводим температуры из Фаренгейта в Цельсии
    celsius_temperatures = [(t - 32) * 5/9 for t in temperatures]
    # считаем среднюю температуру и выводим результат
    average_temp = sum(celsius_temperatures) / len(celsius_temperatures)
    print(country, " - ", round(average_temp, 1), "C" )

Средняя температура в странах:
Таиланд  -  23.9 C
Германия  -  13.8 C
Россия  -  3.7 C
Польша  -  12.0 C