In [ ]:

import pandas as pd

In [ ]:
data = {
          'Траты в позопрошлом месяце':  [400,200,400,100,10,40,1000,2000,269,600],
          'Траты в прошлом месяце':     [700,188,291,400,1298,100,298,544,800,344],
           'Траты в текущем месяце':   [911,9812,3388,111,10,89,199,988,80,99],
           'Траты в следующем месяце': [888,111,888,166,655,154,187,190,99,10]
        }

In [ ]:
df = pd.DataFrame(data = data)
df.head(11)

,Траты в позопрошлом месяце,Траты в прошлом месяце,Траты в текущем месяце,Траты в следующем месяце
0,400,700,911,888
1,200,188,9812,111
2,400,291,3388,888
3,100,400,111,166
4,10,1298,10,655
5,40,100,89,154
6,1000,298,199,187
7,2000,544,988,190
8,269,800,80,99
9,600,344,99,10

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Траты в позопрошлом месяце  10 non-null     int64
 1   Траты в прошлом месяце      10 non-null     int64
 2   Траты в текущем месяце      10 non-null     int64
 3   Траты в следующем месяце    10 non-null     int64
dtypes: int64(4)
memory usage: 448.0 bytes

In [ ]:
df.describe()

,Траты в позопрошлом месяце,Траты в прошлом месяце,Траты в текущем месяце,Траты в следующем месяце
count,10.000000,10.000000,10.00000,10.00000
mean,501.900000,496.300000,1568.70000,334.80000
std,604.154588,356.646121,3073.68581,338.25789
min,10.000000,100.000000,10.00000,10.00000
25%,125.000000,292.750000,91.50000,121.75000
50%,334.500000,372.000000,155.00000,176.50000
75%,550.000000,661.000000,968.75000,538.75000
max,2000.000000,1298.000000,9812.00000,888.00000

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.columns

Index(['Траты в позопрошлом месяце', 'Траты в прошлом месяце',
       'Траты в текущем месяце', 'Траты в следующем месяце'],
      dtype='object')

In [ ]:
X=df[['Траты в позопрошлом месяце', 'Траты в прошлом месяце',
       'Траты в текущем месяце']]
y=df['Траты в следующем месяце']

In [ ]:
X

   Траты в позопрошлом месяце  Траты в прошлом месяце  Траты в текущем месяце
0                         400                     700                     911
1                         200                     188                    9812
2                         400                     291                    3388
3                         100                     400                     111
4                          10                    1298                      10
5                          40                     100                      89
6                        1000                     298                     199
7                        2000                     544                     988
8                         269                     800                      80
9                         600                     344                      99

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
X_train

   Траты в позопрошлом месяце  Траты в прошлом месяце  Траты в текущем месяце
5                          40                     100                      89
3                         100                     400                     111
8                         269                     800                      80
6                        1000                     298                     199
9                         600                     344                      99
1                         200                     188                    9812
0                         400                     700                     911

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([0.01784829, 0.55097112, 0.00545964])

In [ ]:
lr.predict(X_test)

array([178.4671894 , 707.89161769, 333.31701495])

In [ ]:
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

       0           1
0  888.0  178.467189
1  655.0  707.891618
2  190.0  333.317015

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

175591.3664384466

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

58854.83951770782